<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDoList</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<br>
<h4 class="card-title" align="center">toDo list</h4>
<div class="page-content page-container" id="page-content">
    <div class="mb-3" align="center">
        <div class="padding">
            <div class="row container d-flex justify-content-center" style="background:black">
                <div class="card px-2" style="background:snow">
                    <div class="card-body">
                        <br>
                        <form method="post" action="{% url 'create' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="container">
                                <div class="mb-3">
                                    <input type="text" name="title" class="form-control" id="formGroupExampleInput"
                                           placeholder="Title">
                                </div>
                                <div class="mb-3">
                                    <input type="text" name="description" class="form-control"
                                           id="formGroupExampleInput"
                                           placeholder="Description">
                                </div>
                                <div class="mb-3">
                                    <input type="text" name="created_at" class="form-control" id="formGroupExampleInput"
                                           placeholder="Created_at">
                                </div>
                                <div class="mb-3">
                                    <input type="text" name="type" class="form-control" id="formGroupExampleInput"
                                           placeholder="Type">
                                </div>
                                <div class="container" align="left">
                                    <button type="submit" class="btn btn-primary">Create</button>
                                </div>
                            </div>
                        </form>
                        <br>
                        <div class="mb-3" align="left">
                            {% for task in tasks %}
                            <div class="mb-1">
                                <div class="row container d-flex justify-content-center">
                                    <div class="col-md-15">
                                        <div class="card px-2">
                                            <div class="card-body">
                                                <h3 class="input-helper">{{ task.title }}</h3>
                                                <br>
                                                <p>{{ task.description }}<i
                                                        class="input-helper"></i>
                                                <p>{{ task.type }}<i
                                                        class="input-helper"></i>
                                                <p>{{ task.created_at }}<i
                                                        class="input-helper"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-5">
                                <div class='btn-toolbar'>
                                    <a method="post" href="{% url 'update' task.id %}">
                                        <button class="btn btn-success"
                                                type="submit">Update
                                        </button>
                                    </a>

                                    <form method="post"
                                          action="{% url 'delete' task.id %}">
                                        {% csrf_token %}
                                        <button class='btn btn-danger' type='submit'>
                                            Delete
                                        </button>
                                    </form>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>